body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #182003;
    color: #adc5a1;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 3rem;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-style: none;

}

.btn:hover{
    background-color:rgb(250, 250, 20);
    cursor: pointer;
}

input {
    outline: none;
}

.btn {
    outline: none;
}

@media (max-width: 950px) {
    h1 {
        font-size: 2rem;
    }

    input {
        font-size: 1.5rem;
    }
    
    .calculator-container {
        max-width: 90%;
    }
}